files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFC2VHdMVsCR8sNAbT6dZhCzeWNIyMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAlVTMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjIwNTA5MDIwOTM4WhcNMjMwNTA5MDIw
      OTM4WjBFMQswCQYDVQQGEwJVUzETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA6gTXzyMNtXdx3y21tWki2awDIBbOVCbSZI5D4XfGz22RZBGR
      4gOy3KrqEwcy1SSLAWprsPvKRony5Ll4oP3I2Iv7vVB/LQ6OG9f2K2+89z8myAG6
      wjr3HCoDNjVxgot3aPJF1JOarN4g4DM8EfPo+sMYqOacJJnnObTDq7W+x+HQixSC
      iyb00DIH9XMbaURczJb+FeFF8F1SxFxtFenSrWD28nCqeLF/MNIM66oN1ES6ZZtD
      pVaRRsK7dVsGm2GZPii31zUQN2Hq0sN5Aqa6Ti6FrBS9GwX3KJwcTugwtnQpDzv4
      FiBTF9A2kLWokB/pVuBzezMjRkgoe5F1+MHTSwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQB258GuTPYZ8+ERl/OpZPBppJKoDSyklAps0kYJpSmOsR4yEp/5wQ9hZya7
      4fsLrox14GNTTpsg4kWy/xzCPJCFsTmG/SBZPakib0bNVebm0pTe6CthvNeXwvNG
      nrXrBZtapFLh37GGhSYqK1qZLinrgSu7iqjlAUITKJNgS7MfmV8AOG4RRxZnLV4B
      2icYvvEbUpp1sqZOEgTOm4zN9LkWmJbN8hTZPDC65/noSr/RvJy4g5ok+HPEt3QD
      x0v3J8tIkIkURis4FU8emjk//urr6bVpV6usoSbTH2w3fL16n+8rge4lfsMpRVVZ
      Dz5JieVkVn0MRR4fpDSA4eYPNznq
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA6gTXzyMNtXdx3y21tWki2awDIBbOVCbSZI5D4XfGz22RZBGR
      4gOy3KrqEwcy1SSLAWprsPvKRony5Ll4oP3I2Iv7vVB/LQ6OG9f2K2+89z8myAG6
      wjr3HCoDNjVxgot3aPJF1JOarN4g4DM8EfPo+sMYqOacJJnnObTDq7W+x+HQixSC
      iyb00DIH9XMbaURczJb+FeFF8F1SxFxtFenSrWD28nCqeLF/MNIM66oN1ES6ZZtD
      pVaRRsK7dVsGm2GZPii31zUQN2Hq0sN5Aqa6Ti6FrBS9GwX3KJwcTugwtnQpDzv4
      FiBTF9A2kLWokB/pVuBzezMjRkgoe5F1+MHTSwIDAQABAoIBAAwiMCZXRPCxvr+5
      mQBM8TekCY1yYURPtvzru21HTpGWtsEfgBbd5jo2ymguKV6PxH1QTUEh7Pz3Tha5
      3x1Jy04fA/Bu6gkmBgw/iE38Pyn6pkIchNhpQkK9kukOoFIKdSiF10UMWiq4Ya/+
      OBEeOmg2EWNAgbwMFscRLkwK4lduroN2tZHqOdoT3ONh2kQmSDL5mQmbeu3rpWjF
      iIjSwmcCujGpa2VMx/IxgdqMifCkvIIkY17/KMAAVxRXdfKscFozpk2wx6niXscE
      CXr2UPVRpk49HxT8UqbDB57CNr7CRlFAaaoVuNBl0eNRu/OxQFHbFfWvtPzD527K
      kYcRKxECgYEA+0sOF5rtmi8HAN0GMdXNLtTKLB8P2JOr5nFAVFzBiFiVkSjRS1dG
      0GcUqck4QXP2bqSQWbwJJXcPvrlcURZSJnFBleeDto1UnEr0WnQpqQAqojTJfAm6
      m2EZ8oaIbzG5uVHXFqmAFy8WNEA0kO/t9oEznpKWPwRvQlNHsr5QYp8CgYEA7mb1
      UDi3CT2+Ko+0qTyiZcY+INP5A8hiN7T6jEP75iX/5KDRd6L8Sx4CZMmqkRI0Su87
      nnf0Fr38416I26GCVmzFV8cUPjDnvQXdPuB42smGQJe7j0LC32OiOoYWtwxpSo7u
      OpZo3i3W6t+s/oGEXi8SQEh37M9qlrLClNjnG9UCgYBdRGoikLoHM9UhmOcnr/bL
      nua6oXy8IXL3wKjjptmdxWMd0Ux87hO2XcvpiGl8wZGBV0rMQ2IRqbMKUrnUzrgG
      1JpHDPpx0trId3lh6SNdOlaYhYcSpnnAGbYLsasJuib4hUuTea207SEMm5fnA2YK
      y8Fg5X8mPHse3tIJoWEseQKBgQChWGj6DAhEZtcG8w8v4mt+ObbefNdw6fMfBIr0
      1yXqUxlmYDijoVjidcLk919Ko2lktZhB3akCoz49m0NAcYRGfYLpr0BR/sM3uHpO
      DZl9aRpFKOu1P1en3ER1Gz7QT8QKw8UTPaxngdqMRylLbdhp7a2KeAFB8faPWxg5
      qLpwqQKBgQCu9fltarqj8zzx22ydaSELv4SC5FH1Tn6plbE5BUeeOSbvGBP5KmvC
      k0UC01dc2WQZGIPxkKt6cQW8Qp5OPgiTwijTjQJjCxc6skWTM13Bf08o5aCy34ZO
      o3DNBas1NNPNqjgD1NvD78Xay+MZHzX6E64bXR6SyOgdeTjGK+1ufg==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart